.differenceDetectionContainer {
    width: 100%;
}

.differenceDetectionElement {
    display: inline-block;
    vertical-align: middle;
}

.differenceDetectionImage {
    width: 40%;
}

.jspsych-content-wrapper {
    background-color: white;
    height: 100vh;
}

#jspsych-html-slider-response-wrapper {
    margin: 0 0 !important;
}

#jspsych-survey-likert-preamble {
    margin: 3vh 0px 0px 0px ;
}