.differenceDetectionElement {
    display: inline-block;
    vertical-align: middle;
}

.differenceDetectionImage {
    height: 40vh;
    width: auto;
}

.jspsych-content-wrapper {
    background-color: white;
    height: 100vh;
}

#jspsych-html-slider-response-wrapper {
    margin: 0 0 !important;
}
